In [73]:
import pandas as pd
import sys; sys.path.append('/Users/tomo/Work/mymodule')
import reduce_mem_usage
import numpy as np
from sklearn.preprocessing import LabelEncoder

ModuleNotFoundError: No module named 'catboost'

In [3]:
train = pd.read_pickle('../data/train_FG_Hist.pkl')
test = pd.read_pickle('../data/test_FG_Hist.pkl')

In [4]:
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target,first_active_month_year,first_active_month_weekday,first_active_month_month,elapsed_time,...,installments_sum_mean,installments_sum_std,installments_mean_mean,installments_mean_std,installments_min_mean,installments_min_std,installments_max_mean,installments_max_std,installments_std_mean,installments_std_std
0,2017-06-01,C_ID_92a2005557,5,2,1,-0.820283,2017,3,6,245,...,0.444444,0.726483,0.018182,0.032221,0.000000,0.000000,0.333333,0.500000,0.074290,0.117067
1,2017-01-01,C_ID_3d0044924f,4,1,0,0.392913,2017,6,1,396,...,41.769231,14.341977,1.713279,0.546685,0.692308,0.751068,6.307692,2.780426,1.478938,0.895708
2,2016-08-01,C_ID_d639edf6cd,2,2,0,0.688056,2016,0,8,549,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2017-09-01,C_ID_186d6a6901,4,3,0,0.142495,2017,4,9,153,...,14.000000,11.523888,1.044819,0.215637,0.333333,1.032796,2.000000,1.095445,0.518905,0.483284
4,2017-11-01,C_ID_cdbd2c0db2,1,3,0,-0.159749,2017,2,11,92,...,45.500000,23.979158,1.369969,0.597277,1.000000,0.000000,4.500000,5.066228,1.083005,1.664428

In [41]:
train.fillna(0, inplace=True)

In [40]:
for col in test.columns:
    if test[col].isnull().any():
        test[col] = test[col].fillna(0)

In [62]:
for col in test.columns:
    train[col] = train[col].astype(test[col].dtypes)

In [66]:
y = train['target']

In [67]:
col_to_drop = ['first_active_month', 'card_id', 'target']

In [68]:
for col in col_to_drop:
    if col in train.columns:
        train.drop([col], axis=1, inplace=True)
    if col in test.columns:
        test.drop([col], axis=1, inplace=True)

In [71]:
categorical_feats = ['feature_1', 'feature_2']

for col in categorical_feats:
    lbl = LabelEncoder()
    lbl.fit(list(train[col].values.astype('str')) + list(test[col].values.astype('str')))
    train[col] = lbl.transform(list(train[col].values.astype('str')))
    test[col] = lbl.transform(list(test[col].values.astype('str')))

NameError: name 'LabelEncoder' is not defined

In [74]:
pd.to_pickle(train, '../prediction/x_train.pkl')
pd.to_pickle(y, '../prediction/y.pkl')
pd.to_pickle(test, '../prediction/x_test.pkl')